* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: 'Comfortaa', cursive;
	margin: 0;
	background-image: linear-gradient(to bottom, #032640, #165f94);
	background-repeat: no-repeat;
	user-select: none;
	padding-left: 20%;
	padding-right: 20%;
	color: white;
}



header {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	width: 100%;
}

.site-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.site-logo span {
	font-size: 30px;
}

.site-logo img {
	width: 80px;
} 


.language-switch {
	font-size: 20px;
	display: flex;
	flex-direction: row;
	gap: 10px;
} 

.language-switch div {
	transition: 0.5s;
	transform: 0.5s;
	cursor: pointer;
}

.language-switch div:hover {
	color: rgb(197, 119, 23);
}

.language-active {
	color: #0000007e;
}


.search-video {
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 40px;
}

.search-video span {
	font-size: 30px;
}

.search-video input {
	border: none;
	outline: none;
	width: 80%;
	font-size: 18px;
	padding-left: 1%;
	padding-right: 1%;
}

.search-video div {
	background-color: white;
	width: 50%;
	height: 60px;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.search-video button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 19%;
	height: 50px;
	border-radius: 10px;
	font-size: 30px;
	border: none;
	background-color:#2aa1f3;
	color: white;
	transition: 0.5s;
	transform: 0.5s;
	cursor: pointer;
}

.search-video button:hover {
	background-color: #4cb2f6;
}

.search-video button:active {
	background-color: #2aa1f3;
	transition: 0.1s;
	transform: 0.1s;
}

.response-block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
	transform: 1s;
	transition: 1s;
}

.loader_hidden {
	border: 8px solid #f3f3f3;
	/* Light grey */
	border-top: 8px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 0.5s linear infinite;
	display: none;
	/* Initially hidden */
}

.loader_visible {
	display: block;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}




.download-video {
	display: none;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	
}

.download-video_visible {
	display: flex;
}

.download-video_content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 20px;
	background-color: #032640;
	min-height: 300px;
	padding-left: 5%;
	padding-right: 5%;
}

.video_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.video_info img {
	max-width: 300px;
}

.video_download_choice td {
	height: 70px;
	width: 300px;
	border: 3px solid #7591a5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
}

.video_download_choice button {
	height: 30px;
	width: 70px;
	cursor: pointer;
}